@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@font-face {
    font-family: "Pixeled";
    src: url("../../public/fonts/Pixeled.woff2") format("woff2");
    font-weight: 400; /* You can define different weights */
    font-style: normal;
}
@font-face {
    font-family: "TangoSans";
    src: url("../../public/fonts/TangoSans.woff2") format("woff2");
    font-weight: 400; /* You can define different weights */
    font-style: normal;
}
@font-face {
    font-family: "LouisGeorgeCafe";
    src: url("../../public/fonts/LouisGeorgeCafe-Bold.woff2") format("woff2");
    font-weight: 400; /* You can define different weights */
    font-style: bold;
}
@font-face {
    font-family: "LouisGeorgeCafe";
    src: url("../../public/fonts/LouisGeorgeCafe.woff2") format("woff2");
    font-weight: 400; /* You can define different weights */
    font-style: normal;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.border-default {
    @apply border border-black border-[3px] rounded-md;
}
